<!-- #################
    ##	footer area start	##
    ################# -->
<footer class="footer">
  <div class="container">
    <!-- footer top part -->
    <div class="footer_top">
      <!-- footer info section -->
      <section class="footer_info">
        <!-- footer logo -->
        <h2 class="footer_brand">
          <a href="/" class="footer_brand_link">{finsweet</a>
        </h2>

        <!-- footer slogan -->
        <h3 class="heading-3">Bespoke software solutions</h3>

        <!-- footer socials -->
        <ul class="footer_social">
          <li class="footer_social_item">
            <a href="#" class="footer_social_link">
              <i class="bx bxl-facebook icon"></i>
            </a>
          </li>
          <li class="footer_social_item">
            <a href="#" class="footer_social_link">
              <i class="bx bxl-youtube icon"></i>
            </a>
          </li>
          <li class="footer_social_item">
            <a href="#" class="footer_social_link">
              <i class="bx bxl-instagram icon"></i>
            </a>
          </li>
          <li class="footer_social_item">
            <a href="#" class="footer_social_link">
              <i class="bx bxl-twitter icon"></i>
            </a>
          </li>
        </ul>
      </section>

      <!-- footer company links -->
      <div class="footer_links footer_company">
        <h2 class="footer_links_title">Company</h2>

        <ul class="footer_links_list">
          <li>
            <a href="../pages/about.html">About Us</a>
          </li>
          <li>
            <a href="../pages/careers.html">Careers</a>
          </li>
          <li>
            <a href="../pages/services.html">Services</a>
          </li>
          <li>
            <a href="../pages/blog.html">Blog</a>
          </li>
        </ul>
      </div>

      <!-- footer conntect links -->
      <div class="footer_links footer_conntect">
        <h2 class="footer_links_title">Connect</h2>

        <ul class="footer_links_list">
          <li>
            <a href="#">hi@finsweet.com</a>
          </li>
          <li>
            <a href="#">+(123) 456-7890</a>
          </li>
          </li>
        </ul>
      </div>

      <!-- footer subscribe -->
      <div class="footer_subscribe">
        <h2 class="footer_subscribe_title">Join Newsletter</h2>

        <form class="footer_subscribe_form">
          <input type="email" name="email" id="email" placeholder="Type email here" class="form_input">
          <button class="btn btn-orange">Subscribe</button>
        </form>
      </div>
    </div>

    <!-- footer bottom part -->
    <div class="footer_bottom">
      <p class="footer_credit">© Designed By <a href="https://www.figma.com/community/file/1024642079649359659" target="_blank" rel="noopener noreferrer">Mohamed BIKARRANE</a>
      | coded by <a href="http://tonmoydeb.com" target="_blank" rel="noopener noreferrer">Tonmoy Deb</a>
      </p>

      <!-- footer bottom links -->
      <ul class="footer_bottom_links">
        <li>
          <a href="../pages/privacy.html">Privacy Policy</a>
        </li>
        <li>
          <a href="../pages/privacy.html">Terms & Conditions</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!-- footer area end -->